

h2{
    font-family: 'Baloo Bhaina' ;
    font-size: 2.5em;
    color:rgb(255, 102, 102);
    text-align:left;
    text-transform:uppercase;
    margin: 0em 0em 0em 1em;
}

h3{
    font-size: 2em;
    color:rgb(230, 0, 57);
    text-align:center;
    font-family:'Varela Round';
}
   
h4{
    font-family: 'Baloo Bhaina';
    font-size: 1.7em;
    color:rgb(255, 102, 102); 
    text-transform: uppercase;
    margin: 3em 1em 1em 1em
}

h5{
    font-family:sans-serif;
    font-size:1.3em;
    color:rgb(115, 115, 115); 
    margin: 1em 1em 1em 1.4em;
}

img {
    width: 100%; 
    border: 10px; 
    display: block;
    margin: 1.3em;
}

p{
    font-family:sans-serif;
    color:rgb(115, 115, 115);
    margin: 1em 1em 2em 1em;
    font-size:1.3em;
}

ul{
    font-family: sans-serif;
    color:rgb(115, 115, 115);
}

div.mainmenu h2{
    float:left;
}

div.mainmenu ul{
    text-transform: uppercase;
    font-family: 'Baloo Bhaina';
}

div.mainmenu ul li{
    list-style-type: none;
    float:left;
    font-size:1.3em;
    margin:0em 1.2em 0em 0em;
}

div.logo{
    margin: 1em 2em 0em 0em;
}

a:link{
    text-decoration:none;
}

a:hover {
  text-decoration: underline;
}