

h2{
    font-family: 'Baloo Bhaina' ;
    font-size: 2.5em;
    color:rgb(255, 102, 102);
    text-align:left;
    text-transform:uppercase;
    margin: 0em 0em 0em 1em;
}

h3{
    font-size: 2em;
    color:rgb(230, 0, 57);
    font-family:'Varela Round';
    margin: 1.5em 1em 1em 1em;
}
   
h4{
    font-family: 'Baloo Bhaina';
    font-size: 1.7em;
    color:rgb(255, 102, 102); 
    text-transform: uppercase;
    margin: 1em 1em 1em 1em;
    
}

h5{
    font-family:sans-serif;
    font-size:1.3em;
    color:rgb(115, 115, 115); 
    margin: 1em 1em 1em 1.4em;
}

img {
    width: 100%; 
    border: 10px; 
    display: block;
    margin: 1.3em;
}

p{
    font-family:sans-serif;
    color:rgb(115, 115, 115);
    margin: 0.75em 1em 0em 1.5em;
    font-size:1.3em;
   
}

ul{
    font-family: sans-serif;
    color:rgb(115, 115, 115);
    font-size:1.1em;
}

div.mainmenu h2{
    float:left;
}

div.mainmenu ul{
    text-transform: uppercase;
    font-family: 'Baloo Bhaina';
}

div.mainmenu ul li{
    list-style-type: none;
    float:left;
    font-size:1.3em;
    margin:0em 1.2em 0em 0em;
}

div.mainmenu ul li a{
    color:rgb(230, 0, 57);
}

div.logo{
    margin: 1em 2em 0em 0em;
}

a:link{
    text-decoration:none;
    color:rgb(230, 0, 57);
}

a:hover {
  text-decoration: underline;
}

table, th, td{
    border:.1em solid #000000;
    border-collapse: collapse;
    color:rgb(115, 115, 115);
}

th, td{
    padding: .5em;
}

table{
    margin: 0 0 4em 03m;
}

th{
    text-align: left;
    font-family:sans-serif;
    font-size: 1em;
}